html,boby{
	height: 100%;
	background: #f2f2f2;
}
.beijing{
	background: #f2f2f2;
	width: 100%;
	height: 100%;
}
.beijing .top{
	width: 100%;
	height: 1rem;
	background-color: #FFFFFF;
	box-sizing: border-box;
	position: relative;
	line-height: 1rem;
}
.beijing .top a{
	float: left;
	font-weight:500;
	position: absolute;
	font-size: 0.5rem;
	top: 0;
	left: 0.25rem;	
	color: #3e3b3b;
}
.beijing .top p{
	font-size:0.34rem;
	font-family:PingFangSC-Medium;
	font-weight:bold;
	color: #525252;
	text-align: center;
}
.beijing .Tips{
	width: 100%;
	margin-top: 0.2rem;
}
.beijing .Tips .content {
	width: 6.94rem;
	background: #FFFFFF;
	padding: 0.33rem 0 0.44rem 0;
	overflow: hidden;
	position: relative;
	margin: auto;
}
.beijing .Tips .content .yuan{
	width: 0.12rem;
	height: 0.12rem;
	background: #FF7365;
	border-radius: 50%;
	display: inline-block;
	float: left;
	position: absolute;
	top:0.45rem;
	left: 0.18rem;
}
.beijing .Tips .content b{
	color: #333333;
	font-size: 0.3rem;
	line-height: 0.29rem;
	float: left;
	margin-bottom: 0.28rem;
	display:inline-block;
	margin-left: 0.45rem;
}
.beijing .Tips .content p{
	color: #888888;
	font-size: 0.26rem;
	width: 5.96rem;
	height: 0.71rem;
	float: left;
	display: block;
	margin: auto;
	margin-left: 0.45rem;
	line-height: 0.45rem;
	text-align: left;
}
.beijing .Tips .content p span{
	color: #FF7365;
}
.beijing .Tips p{
	font-size: 0.26rem;
	color: #999999;
	margin: 0.3rem;
	text-align: center;
}